/****** Theme v2 Freshmart  ******/
$primary-red: #E21F26;// #077915;
$primary-grey:  #9B9B9B;

$secondary-grey: #717171;


$social-facebook:   #0062b3;
$social-facebook-hover:   #004680;
$social-google:   #cd3919;
$social-google-hover:   #a02c13;
/****** /Theme v2 Freshmart  ******/




