


/********* FONTS ***********/
$font-Roboto: 'Roboto', serif, sans-serif;
$font-Mont: 'Montserrat', $font-Roboto;
$font-Mont-Light: 'Montserrat-Light';
$font-Mont-Medium: 'Montserrat-Medium';
$font-Mont-Regular: 'Montserrat-Regular';
$font-Mont-Bold: 'Montserrat-Bold';