<div class="blockv3-container container-docentes">

    <div class="title-docentes">
      {{header}}                  
      </div>
    <div class="content-docentes">
        <div class="caja-docentes">
          <div class="slider-central">
          {% for key in 0..4 %}
              <a class="item-central" href="#">
                          <div class="conten-imagen">
                                  <img src="{{file_url(view.result[key]._entity.field_image.entity.fileuri)}}" />
                          </div>
                          <div class="docente-info">
                                  <h3>John Merrow</h3>
                                      <p>Ed.D.'73; PBS NewsHour; author</p>
                                      <strong>Harvard EdCast</strong>
                          </div>
              </a>
            {% endfor %}
          </div>
          <div class="slider-vertical">
          
            {% for key in 0..4 %}
              <div class="item-imagen {{key}}">
                  <div class="content-imagen">
                      <img src="{{file_url(view.result[key]._entity.field_image.entity.fileuri)}}" />
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>