<div class="blockv3-container container-informado">
     <div class="title-informado">
      {{header}}                  
      </div>

      <div class="caja-informado">
        {% for row in rows %}
          
            {{ row }}
          
        {% endfor %}
      </div>
</div>