<div class="blockv3-container container-actividades">

    <div class="title-actividades">
      {{header}}                  
      </div>
    <div class="caja-actividades">
      {% for row in rows %}
          {{ row }}
      {% endfor %}
    </div>
</div>