
    {% if page.footer %}
        <footer class="lr-global container-footer">
            <section class="blockv3-container content-footer">
                {{ page.footer }}
            </section>
        </footer>
    {% endif %}


